body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #fcd116; /* Yellow from North Macedonia's flag */
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    height: 30px;
    width: 100%;
}

.progress-bar {
    background-color: #fcd116; /* Yellow from North Macedonia's flag */
    color: white;
    text-align: center;
    line-height: 30px; /* Center text vertically */
    border-radius: 5px;
    height: 100%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #fcd116; /* Yellow from North Macedonia's flag */
    color: white;
}
